<!-- Challenge 10 -->
  
<!--
Lastly I'd like to introduce you to switch statements.
They basically work like if statements but have a slightly different syntax.

We oftentimes find them, when different elements are rendered based on an input.


Create a "case" for the element-type variable.

When it is "h6" put out "<h6>You can do this!</h6>"
When it is "h4" put out "<h4>You are a Liquid pro! </h4>"
When it is "h2" put out "<h2>You're ready for the first projects! :-)</h2>


Test your switch statement, by removing the comment tags around the assignments one after the other. -->

{% assign element-type = "h6" %}
{% assign element-type = "h4" %} 
{%comment%} {% assign element-type = "h2" %} {%endcomment%}

  {% case element-type %}
  {% when "h6" %}

  <h6>You can do this!</h6>"
  
  {% when "h4" %}

  <h4>You are a Liquid pro! </h4>"
  
  {% when "h2" %}
  
  <h2>You're ready for the first projects! :-)</h2>

  {% endcase %}
  

  
<!-- Challenge 10 -->